# Environment
.env
backend/.env
frontend/.env

# Python
env/
venv/
__pycache__/
*.pyc

# Database
backend/db.sqlite3

# Uploaded files


# Static build
backend/staticfiles/

# React
frontend/node_modules/
frontend/dist/